header.header-area
  .header-bottom
      .container
        .row
          .col-md-2.col-sm-8.col-xs-12
            .logo
              a(href='/')
                img(src='/images/logo-white.png', alt='')
          .col-md-8.hidden-sm.hidden-xs
            .mainmenu.text-right
              ul#navigation
                li
                  a(href='/') #{__('Home')}
                li
                  a(href='steem') #{__('What is Steem')}
                li
                  a(href='https://steemit.com/steemit/@steemfounders/introducing-steemfounders-a-new-free-method-of-creating-accounts') #{__('About Steemfounders')}
                li
                  a(href='https://discord.gg/8NktdFh') #{__('Our Discord')}
                if email
                  li
                    a(href='/logout') #{__('Logout')}
          
          .col-md-2.col-sm-3.col-xs-9
            .free-seo.text-right
              if ! email
                button(type='button', name='button' data-toggle="modal" data-target="#login-modal") #{__('Login and check')}
              else 
                a(href='/dashboard')
                  button(type='button', name='button') #{__('Dashboard')}
          .col-sm-1.clear.col-xs-3.hidden-md.hidden-lg
            .responsive-menu-wrap.floatright