extends website.pug

block header
  title Dashboard - Steemfounders

append stylesheets
    link(rel='stylesheet', href='/css/simplemde.css')
append scripts
    script(src='https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js')
    script(src='/js/write.js')

block body
    include partials/navbar.pug

    .breadcumb-area
        .particleground
        .container
            .row
                .col-xs-12
                    .breadcumb-wrap.text-center
                        h2 Hello, #{email}

    .contact-area.pt-100
        .container
            .row
                .col-md-12.col-xs-12
                    .contact-wrap
                        if ! post
                            h3 Write your introduce post

                            hr

                            h3 To get best results please read: 
                                ul.tips-list
                                    case user.community
                                        when "pl"
                                            li
                                                a(href="https://steemit.com/steemfounders-pl/@santarius/garsc-wskazowek-dla-uzytkownikow-steemfounders") Garść wskazówek dla użytkowników Steemfounders
                                        when "en"
                                            li
                                                a(href="https://steemit.com/steemfounders/@santarius/guide-for-users-applying-for-creating-an-account-with-steemfounders") Guide for users applying for creating an account with Steemfounders
                                        when "jp"
                                            li
                                                a(href="https://steemit.com/steemfounders/@santarius/guide-for-users-applying-for-creating-an-account-with-steemfounders") Guide for users applying for creating an account with Steemfounders
                                        when "idn"
                                            li
                                                a(href="https://steemit.com/idn-steemfounders/@macchiata/panduan-untuk-calon-pengguna-baru-steemit-melalui-layanan-steemfounders") Panduan untuk Calon Pengguna Baru Steemit Melalui Layanan Steemfounders
                                        when "kr"
                                            li
                                                a(href="https://steemit.com/steemfounders/@santarius/guide-for-users-applying-for-creating-an-account-with-steemfounders") Guide for users applying for creating an account with Steemfounders
                                        when "sp"
                                            li
                                                a(href="https://steemit.com/spanish/@flaws/guia-para-los-usuarios-solicitando-una-cuenta-con-steemfounders") Guía para los usuarios solicitantes de una cuenta con Steemfounders
                                        default
                                            li
                                                a(href='https://steemit.com/steemfounders/@santarius/guide-for-users-applying-for-creating-an-account-with-steemfounders') Guide for users applying for creating an account with Steemfounders

                            .cf-msg
                            form#post(action='/add', method='POST')
                                .row
                                    .col-xs-12.col-sm-8
                                        label Your post title:
                                        input#post-title(type='text', name='title', required="", placeholder='Title...')
                                    .col-xs-12.col-sm-12
                                        label Post body:
                                        textarea#post-body(type='text', name='body', required='', placeholder='Body...')
                                    .col-xs-12.col-sm-12
                                        label Thumbnail URL (optional):
                                        input#post-title(type='text', name='image', placeholder='https://...')
                                    .col-xs-12.col-sm-12
                                        label You interests (as tags):
                                        input#post-title(type='text', name='tags', required="", placeholder='first second ...')
                                    .col-xs-12
                                        button#submit.cont-submit.btn-contact(name='submit') Submit
                        else
                            if !post.created
                                if post.status == 'added'
                                    h3 You successfully submitted your post. Wait for information from our moderators :)
                                else if post.status == 'published'
                                    h3 You post has been published. Take a look how it's going ;)
                                    a(href=post.permlink) Read it on Steemit
                                .row.pt-100
                                    .col-md-5.col-xs-12.hidden-xs.hidden-sm
                                        .case-details-img
                                            if post.image
                                                img.post-thumbnail(src=post.image, alt='')
                                            else
                                                img.post-thumbnail(src='/images/case/case-details2.png', alt='')
                                    .col-md-6.col-md-offset-1.col-xs-12
                                        .case-details-wrap
                                            h2= post.title
                                            p= post.body.substring(200,0) + '...'
                            else
                                h3 Your account has been created! Here you have all neccessary data:
                                label Your Steem account:
                                input(type='text', readonly=true, value= user.account)
                                label Your Steem account password:
                                input(type='text', readonly=true, value= user.steem_password)
                                label Your private Steem keys:
                                textarea(rows=10, type='text', readonly=true)= JSON.stringify({posting: user.steem_keys.posting, active: user.steem_keys.active, owner: user.steem_keys.owner, memo: user.steem_keys.memo}, null, 4)
                                    //- = 'posting: ' + user.steem_keys.posting
                                    //- = '\nactive: ' + user.steem_keys.active
                                    //- = '\nowner: ' + user.steem_keys.owner
                                    //- = '\nmemo: ' + user.steem_keys.memo

                                p Don't share this keys with anyone. Consider it as your bank account's password.

                                p You can login here: 
                                    a(href='https://steemit.com/login.html', target='_blank') STEEMIT LOGIN PAGE
    block footer
        .contact-area.pt-100
            .contact-area.pt-100
                .contact-area.pt-100
                    include partials/footer.pug