extends website.pug

block header
  title Moderator panel - Steemfounders

append scripts
    script(src='/js/moderate.js')


block body
    #rejectModal.modal.fade.modal.modal-primary(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
        .modal-dialog
            .modal-content
                .modal-header.justify-content-center
                .modal-body.text-center
                    p You are about to reject this post. Say why:
                    .form-group
                        label.col-form-label(for='reason') Reason:
                        textarea#reason(rows=4, required=true).form-control

                .modal-footer
                    button.btn.btn-simple(type='button', data-dismiss='modal') Back
                    button.btn.btn-danger.btn-fill#btn-reject(type='button') Reject

    #createAccountModal.modal.fade.modal.modal-primary(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
        .modal-dialog
            .modal-content
                .modal-header.justify-content-center
                .modal-body.text-center
                    p You are about to create new account
                    hr
                    h4 Please be aware that it cost 3 STEEM and it cannot be undone


                .modal-footer
                    button.btn.btn-simple(type='button', data-dismiss='modal') Back
                    button.btn.btn-success.btn-fill#btn-create(type='button') Create new account

    include partials/navbar.pug

    .breadcumb-area
        .particleground
        .container
            .row
                .col-xs-12
                    .breadcumb-wrap.text-center
                        h2 Moderator panel
    .contact-area.pt-100
        .container
            .row
                .col-md-12.col-xs-12
                    .contact-wrap
                        if !published.length && !posts.length
                            h2 No posts to moderate at the moment

                        if posts.length   
                            h2 Posts to moderate 
                            hr            
                            each post in posts
                                .row.pt-100
                                    input(type='hidden', name='reject_id', value= post._id)
                                    .col-md-5.col-xs-12.hidden-xs.hidden-sm
                                        .case-details-img
                                            if post.image
                                                img.post-thumbnail(src=post.image, alt='')
                                            else
                                                img.post-thumbnail(src='/images/case/case-details2.png', alt='')
                                    .col-md-5.col-xs-12
                                        .case-details-wrap
                                            h2= post.title
                                            p= post.body.substring(200,0) + '...'
                                            each tag in post.tags.split(' ')
                                                span.badge.badge-light= tag
                                            
                                    .col-md-2.col-xs-12
                                        .btn-group-vertical
                                            a(href='/edit/' + post._id)
                                                button.btn.btn-success(type='button') Edit and publish
                                            a(disabled=true)
                                                button.btn.btn-danger.btn-func-reject(type='button') Reject
                            hr
                        
                        if published.length
                            h2.pt-100 Already published but without account created
                            hr                  
                            each post in published
                                .row.pt-100
                                    input(type='hidden', name='_id', value= post._id)
                                    .col-md-5.col-xs-12.hidden-xs.hidden-sm
                                        .case-details-img
                                            if post.image
                                                img.post-thumbnail(src=post.image, alt='')
                                            else
                                                img.post-thumbnail(src='/images/case/case-details2.png', alt='')
                                    .col-md-5.col-xs-12
                                        .case-details-wrap
                                            a(href='https://steemit.com/steemfounders/@'+ process.env.STEEM_USERNAME + '/' + post.permlink)
                                                h2= post.title
                                            p= post.body.substring(200,0) + '...'
                                            each tag in post.tags.split(' ')
                                                span.badge.badge-light= tag
                                    .col-md-2.col-xs-12
                                        .btn-group-vertical
                                            a
                                                button.btn.btn-success.create-account(type='button') Create account

    block footer
        .contact-area.pt-100
            .contact-area.pt-100
                .contact-area.pt-100
                    include partials/footer.pug