extends website.pug

block header
  title #{__('What is Steem - Steemfounders')}


block body
    include partials/navbar.pug

    .breadcumb-area
        .particleground
        .container
            .row
                .col-xs-12
                    .breadcumb-wrap.text-center
                        h2 #{__('What is Steem?')}
    .about-page-area
        .container
            .row
                .col-md-12.col-xs-12
                    .about-info
                        p #{__('Steem is a decentralised social networking platform based on an innovative blockchain that allows users to reward content creators for their work.')}
                        
                        h4 #{__('Where does money come from, why do people want to reward us for creating?')}
                        p #{__('The Steem exists because of its creators. For posting content, users gain a stake in the platform, which they can sell, or use to independently vote for other users high quality content. Ownership of shares allows to distribute the tokens emitted by the platform among the creators, which allows the investors to influence its functioning and make sure that the platform in which they invested develops - that\'s why they try to reward great creators!')}
                        
                        h4 #{__('Why does Steem grow so dynamically, who controls it?')}
                        p #{__('Steem is decentralised, which means that nobody has enough power to change anything in it on their own. The platform is governed by the community - literally! All changes are made by all of us. Both the investors and the creators want Steem to function as well as possible, so everyone works hard to keep the platform developing in the best possible direction. An example is steemfounders.com, a project created to make it easier for new users to start their own adventure with the platform and bring its value!')}
                        
                        h4 #{__('What type of content does Steem expect?')}
                        p #{__('Steem is an extremely flexible platform. Anyone who owns a STEEM token needs it to contain something interesting and to attract as many recipients as possible. For this reason, every unique, high quality content should be rewarded here. It can be videos, poetry, reviews, scientific articles, everything you can think of. Everything that brings value to the network!')}
                        
                        h4 #{__('Will I be noticed here by anyone? Will my account find recipients here? Why is it worth voting for new authors?')}
                        p #{__('The way Steem works will ensure that almost someone will notice your work. 25% of the value of each post you write or comment (you can also monetize your comments!) will always be given to the curators, but the one who saw your work and voted first will get the most out of it. How much he will earn depends on how much you earn, so he will want to promote you in the best possible way - that\'s what Steem\'s curators do. This makes it important for everyone to be rewarded for every effort they make.')}


    block footer
        .contact-area.pt-100
            .contact-area.pt-100
                .contact-area.pt-100
                    include partials/footer.pug